@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    src: url(../fonts/DMSans-Regular);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat-Bold', sans-serif;
    src: url(../fonts/Montserrat-Bold);
    font-style: normal;
    font-weight: 700;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

.container{
  max-width: 1200px;
}

.menu{
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}

.logo{
  justify-self: left;
  font-size: 24px;
}

.loupe {
    justify-self: right;
}

.menu-img {
  position: absolute;
  justify-self: right;
}