@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    src: url(../fonts/DMSans-Regular);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat-Bold', sans-serif;
    src: url(../fonts/Montserrat-Bold);
    font-style: normal;
    font-weight: 700;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.menu{
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 80px;
}

.logo{
  display: flex;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  justify-self: left;
  font-size: 24px;
  color: #244D4D;
}

.loupe {
  display: flex;
  position: absolute;
  justify-self: right;
  margin-right: 30px;
}

.menu-img {
  display: flex;
  position: absolute;
  justify-self: right;
}

@media (max-width: 1100px) {
  .companies{
    gap: 15px !important;
  }
  .trusted-text{
    font-size: 23px !important;
  }
  .about-img{
    position: static !important;
    justify-self: center;
  }
  .about-text{
    justify-self: center !important;
    margin-top: 0px !important;
  }
  .circle{ 
    width: 240px !important;
    height: 220px !important;
    margin-top: 150px !important;
    position: absolute !important;

  }
  .customers-img {
    width: 230px !important;
    height: 240px !important;
    margin-left: 75px !important;
    margin-top: 140px !important;
  }
  .customers-text1 {
    margin-left: 20px !important;
    margin-top: 390px !important;
    justify-self: center !important;
    font-size: 20px !important;
  }
  .customers-text2{
    font-size: 16px !important;
    justify-self: center !important;
    margin-top: 450px !important;
    width: 60% !important;
    margin-left: 20px !important;
  }
  .feedback-img {
    margin-top: 550px !important;
    margin-left: 80px !important;
  }
  .feedback-text{
    margin-top: 560px !important;
    font-size: 13px !important;
    margin-left: 140px !important;
  }
  .star-img{
    margin-top: 575px !important;
    margin-left: 140px !important;
  }
  .feedback-text2{
    margin-left: 160px !important;
    margin-top: 575px !important;
  }
  .furniture-img2{
    width: 100% !important;
  }
  .about {
    position: absolute !important;
  }
  .furniture-block {
    margin-top: 1300px !important;
  }
  .features__bottom {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}
  
@media (max-width: 920px) {
  .logo {
    margin-left: 30px !important;
  }
  .companies{
    flex-direction: column !important;
    align-items: center;
  }
  .furniture-box-text {
    margin-top: 0px !important;
    font-size: 14px !important;
    position: absolute !important;
  }
  .furniture-main-img {
    margin-top: 20px !important;
  }
  .furniture-price {
    margin-top: -20px !important;
    position: absolute !important;
  }
  .furniture-button {
    margin-top: 5px !important;
  }
  .trusted-text {
    margin-top: 500px;
  }
  .shop-group-img1 {
  margin-left: 100px !important;
  margin-top: 500px !important;
  }
  .shop-group-img2 {
    margin-left: 400px !important;
    margin-top: 500px !important;
  }
  .shop-group-img3 {
  margin-left: 96px !important;
  margin-top: 600px !important;
  }
  .shop-group-img4 {
    margin-left: 405px !important;
    margin-top: 600px !important;
  }
  .shop-group-img4-background {
    margin-left: 320px !important;
    margin-top: 580px !important;
  }
  .shop-group-img5 {
    margin-left: 104px !important;
    margin-top: 690px !important;
  }
  .shop-group-img6 {
    margin-left: 400px !important;
    margin-top: 685px !important;
  }
  .shop-img {
    height: 70% !important;
    width: 70% !important;
  }
}

@media (max-width: 730px) {
  .menu {
    gap: 25px;
    justify-self: center !important;
  }
  .furniture-block {
    margin-top: 1000px !important;
  }
}

@media (max-width: 820px) {
  .main-text{
    justify-self: center !important;
    width: 360px !important;
    margin-right: 0px !important;
  }
  .main-title{
    font-size: 36px !important;
    margin-left: 30px !important;
  }
  .main-p{
    margin-left: 30px !important;
  }
  .main-button{
    margin-left: 30px !important;
  }
  .main-img{
    justify-self: center !important;
    margin-left: 0px !important;
    height: 460px;
    width: 360px !important;
    margin-top: 490px;
  }
  .about-img{
    width: 400px !important;
    height: 100% !important;
    margin-left: 0 !important;
  }
  .h1-text{
    font-size: 21px !important;
    margin-left: 30px !important;
  }
  .a-text{
    font-size: 13px !important;
  }
  .a1-text{
    margin-left: 30px !important;
    font-size: 13px !important;
  }
  .quality{
    margin-top: 10px !important;
    margin-left: 80px !important;
  }
  .secure{
    margin-left: 80px !important;
  }
  .shpping{
    margin-left: 80px !important;
  }
  .furniture-item2{
    margin-top: 0px !important;
  }
}

@media (max-width: 650px) {
  .menu {
    margin-top: 70px;
    position: absolute;
    font-size: 12px;
  }
  .logo {
    position: absolute;
    justify-self: center;
    font-size: 20px;
    margin-left: 0px;
  }
  .loupe {
    margin-right: -220px;
    margin-top: -10px;
  }
  .menu-img {
    margin-right: -250px;
    margin-top: -10px;
  }
  .features__img {
    margin: 0;
  }
  .features__img{
    width: 330px;
  }
  .features__box-item{
    max-width:150px !important;
  }
  .features__pt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bg-2{
  position: absolute !important;
  top: 158px !important;
  left:163px !important;
  }
}

@media (max-width: 480px) {
.furniture-main-img {
  margin-top: 35px !important;
}
.features__box{
  gap:24px;
}
.circle {
  margin-left: 20px !important;
}
.customers-img {
  margin-left: 0px !important;
  justify-self: center !important;
}
.customers-text1 {
  margin-left: 0px !important;
  justify-self: center !important;
}
.customers-text2 {
  margin-left: 30px !important;
  justify-self: center !important;
  margin-top: 445px !important;
}
}

.main-text {
flex-wrap: wrap;
display: flex;
justify-self: right;
background-color: #154444;
height: 560px;
width: 789px;
}

.main-img {
  display: flex;
  height: 560px;
  width: 411px;
  position: absolute;
}

.main-title {
display: flex;
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
font-size: 56px;
margin-top: 101px;
margin-left: 100px;
color: white;
position: absolute;
}

.main-p {
 font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
margin-top: 257px;
margin-left: 100px;
font-size: 20px;
color: white;
position: absolute;
}

.main-button {
  margin-top: 382px;
  margin-left: 100px;
}

button{
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
color: #154444;
font-size: 20px;
background-color: white;
border: none;
cursor: pointer;
padding: 0;
width: 172px;
height: 56px;
}

.trusted-text{
justify-self: anchor-center;
font-size: 32px;
color: #244D4D;
font-family: 'DMSans-Regular', sans-serif;
font-weight: 700;
}

.trusted-img{
  align-items: center;

}

.companies{
display: flex;
gap: 100px;
justify-self: center;
margin-top: 47px;
}

.about-text {
flex-wrap: wrap;
display: flex;
justify-self: right;
width: 436px;
margin-top: 186px;
}

.quality{
  margin-top: 40px;
}

.about-images {
position: absolute;
margin-left: 10px;
margin-top: 15px;
justify-self: center;
}

.secure {
  margin-top: 40px;
}

.shpping {
  margin-top: 40px;
}

.about-img {
  position: absolute;
  display: flex;
}

.h1-text {
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
color: #244D4D;
font-size: 32px;
margin-left: 10px;
position: absolute;
}

.p-text {
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
color: #244D4D;
font-size: 20px;
margin-left: 85px;
}

.a-text {
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
color: #383738;
font-size: 18px;
margin-left: 85px;
}

.a1-text {
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
color: #383738;
font-size: 20px;
margin-left: 10px;
margin-top: 80px;
}

.circle {
width: 490px;
height: 490px;
background-color: #244D4D;
border-radius: 50%;
margin-top: 140px;
position: absolute;
}

.customers-img {
display: flex;
width: 460px;
height: 490px;
position: absolute;
margin-left: 105px;
margin-top: 140px;
}

.customers-text1 {
display: flex;
position: absolute;
margin-left: 690px;
margin-top: 260px;
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
}

.customers-text2 {
font-size: 20px;
justify-self: right;
margin-top: 375px;
position: absolute;
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
}

.feedback-text {
position: absolute;
margin-left: 740px;
margin-top: 490px;
font-size: 16px;
font-family: 'DMSans-Regular', sans-serif;
font-weight: 500;
}

.feedback-img{
display: flex;
position: absolute;
margin-left: 680px;
margin-top: 485px;
}

.star-img {
display: flex;
position: absolute;
margin-left: 740px;
margin-top: 510px;
}

.feedback-text2 {
position: absolute;
margin-left: 760px;
margin-top: 510px;
font-size: 14px;
font-family: 'DMSans-Regular', sans-serif;
font-weight: 500;
}

.furniture-block{
  margin-top: 140px;
}

.furniture-box{
  display: grid;
  list-style-type:none;
}   

.furniture-item2{
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.furniture-text1{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #242424;
  text-align: start;
}

.furniture-p{
  text-align: start;
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  margin-top: 20px;
}

.furniture-main-box{
    margin-top: 80px;
    gap:30px;
}

.furniture-img2{
    overflow: hidden;
}

.furniture-item1{
    background-color: #FFFFFF;
    min-width: 0;
}

.furniture-indentation{
    margin:24px 30px;
}

.furniture-box1{
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

.furniture-box2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 0;
}

.furniture-button{
    width: 78.85px;
    height: 32px;
    font-family: 'DMSans-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    background-color:#244D4D;
    border:none;
    cursor: pointer;
}

.furniture-box-text{
  display: flex;
  justify-content: flex-start;
  margin-bottom:-20px;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.furniture-price{
  font-size: 24px;
  color: #154444;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.furniture-main-img{
  display: flex;
  justify-content: flex-end;
}
.furniture-main-img img{
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev{
  position:static;
  width:41px;
  height:41px;
}

.features{
  margin-top: 140px;
}

.features__header{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #242424;
  text-align: center;
}

.features__list{
  display: flex;
  flex-direction: row;
  list-style-type:none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  color: #919090;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.features__bottom{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features__pt1{
  position: relative;
}

.bg-1{
  position: absolute;
  width: 190.1px;
  height: 85.87px;
  top:-12px;
  left:0;
  right: 0;
  bottom: 0;
  background: #154444;
  z-index: 0;
}

.bg-2{
  position: absolute;
  width: 190.1px;
  height: 85.87px;
  top:314px;
  left:387px;
  right: 0;
  bottom: 0;
  background: #154444;
  z-index: 0;
}

.features__img{
  position: relative;
  z-index: 1;
  margin-left: 12px;
}   

.features__box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  gap:32px;
  max-width: 474px;
  max-height:336px;
  margin-top: 30px;
}

.features__box-item{
  width:200px;
  height:90px;
  border:#D9DCE5 1.5px solid;
  display: flex;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #808080;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.features__box-item:nth-child(4){
  width:203px;
  height:93px;
  border: none;
  display: flex;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color:white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #154444;
}
