@font-face {
    font-family: 'DMSans-Regular', sans-serif;
    src: url(../fonts/DMSans-Regular);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat-Bold', sans-serif;
    src: url(../fonts/Montserrat-Bold);
    font-style: normal;
    font-weight: 700;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

li{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  list-style: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-top: 44px;
}

.menu{
  display: flex;
  justify-content: space-between;
}

.menu__text{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  color: #244D4D;
  font-size: 24px
}

.menu__link{
  color:#161616;
  font-size: 16px;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

.menu__button{
  overflow: hidden;
  display: flex;
  gap:4px;
  justify-content: space-between;
  border:none;
  margin-left: 32px;
}

.menu__mini-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5px;
}

.navbar{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu__img {
  max-height:21px;
  max-width:21px;
}

.home {
  display: flex;
  flex-direction:row;
  margin-top: 26px;
}

@media (max-width: 1100px) {
  .companies{
    gap: 15px !important;
  }
  .trusted-text{
    font-size: 23px !important;
  }
  .about-img{
    position: static !important;
  }
  .about-text{
    justify-self: center !important;
    margin-top: 0px !important;
  }
  .furniture-img2{
    width: 100% !important;
  }
  .about {
    position: absolute !important;
  }
  .furniture-block {
    margin-top: 1100px !important;
  }
  .features__bottom {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}
  
@media (max-width: 920px) {
  .main-text{
    padding-top: 51px;
    padding-left: 50px;
  }
  .main-title {
    margin-left: -80px;
  }
  .main-p {
    margin-left: -100px !important;
  }
  .main-button {
    margin-left: -80px;
  }
  .furniture-box-text {
    margin-top: 0px !important;
    font-size: 14px !important;
    position: absolute !important;
  }
  .furniture-main-img {
    margin-top: 20px !important;
  }
  .furniture-price {
    margin-top: -20px !important;
    position: absolute !important;
  }
  .furniture-button {
    margin-top: 5px !important;
  }
  .shop-group-img1 {
  margin-left: 100px !important;
  margin-top: 500px !important;
  }
  .shop-group-img2 {
    margin-left: 400px !important;
    margin-top: 500px !important;
  }
  .shop-group-img3 {
  margin-left: 96px !important;
  margin-top: 600px !important;
  }
  .shop-group-img4 {
    margin-left: 405px !important;
    margin-top: 600px !important;
  }
  .shop-group-img4-background {
    margin-left: 320px !important;
    margin-top: 580px !important;
  }
  .shop-group-img5 {
    margin-left: 104px !important;
    margin-top: 690px !important;
  }
  .shop-group-img6 {
    margin-left: 400px !important;
    margin-top: 685px !important;
  }
  .shop-img {
    height: 70% !important;
    width: 70% !important;
  }
  .customers{
        flex-direction: column;
    }
}

@media (max-width: 730px) {
  .navbar {
    display: flex;
    flex-direction: column;
    }
  .menu {
    align-items: center;
    margin:30px 25px 0;
  }
   .menu__text{
    display: flex;
    align-items: center;
    justify-content: center;
    }
  .furniture-block {
    margin-top: 900px !important;
  }
  .email_img {
    margin-left: 195px !important;
  }
  .name__input {
    margin-left: 220px !important;
  }
    .companies{
    flex-direction: column !important;
    align-items: center;
  }
}

@media (max-width: 820px) {
  .main-title{
    font-size: 42px !important;
    margin-left: 0px;
  }
  .main-p{
    font-size: 19px !important;
    margin-left: -20px !important;
  }
  .main-button {
    margin-left: 0;
  }
  .home {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
  }
  .main-text{
    padding-bottom: 26px;
  }
  .about-img{
    max-width: 80% !important;
    height: 100% !important;
  }
  .h1-text{
    font-size: 21px !important;
    margin-left: 30px !important;
  }
  .a-text{
    font-size: 13px !important;
  }
  .a1-text{
    margin-left: 30px !important;
    font-size: 13px !important;
  }
  .quality{
    margin-top: 10px !important;
    margin-left: 20px !important;
  }
  .secure{
    margin-left: 20px !important;
  }
  .shpping{
    margin-left: 20px !important;
  }
  .furniture-item2{
    margin-top: 30px !important;
  }
  .footer__item1 {
    margin-left: 30px !important;
  }
  .footer__item2 {
    margin-top: 300px !important;
    margin-left: 30px !important;
  }
  .footer__item3 {
    margin-top: 300px !important;
  }
  .footer__item4 {
    margin-top: 300px !important;
    margin-right: 30px !important;
  }
  .menu__mini-list {
    display: none;
  }
}

@media (max-width: 650px) {
  .loupe {
    margin-right: -210px;
    margin-top: -10px;
  }
 
  .features__img {
    margin: 0;
  }
  .features__img{
    width: 330px;
  }
  .features__box-item{
    max-width:150px !important;
  }
  .features__pt2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bg-2{
  position: absolute !important;
  top: 158px !important;
  left:163px !important;
  }
  .footer__item1 {
  position: absolute !important;
}
.footer__item2 {
  position: absolute !important;
}
.footer__item3 {
  margin-left: 200px !important;
  position: absolute !important;
}
.footer__item4 {
  margin-top: 550px !important;
  margin-left: 30px !important;
  }
.customers_big_foto {
  margin-left: 105px;
  max-width: 360px;
  }
.customers__bg {
  background: #244D4D;
  width: 380px !important;
  height: 381px !important;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  overflow: hidden;
  top: 1px;
  }  
  .customers__header br{
    display: none;
  }
  .customers__header br{
    display: none;
  }
}

@media (max-width: 545px) {
.customers__bg {
  background: #244D4D;
  width: 280px !important;
  height: 277px !important;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  overflow: hidden;
  top: 1px;
}
  .customers_big_foto {
  margin-left: 50px;
  max-width: 260px;
}
  .customers__pt2 {
  margin-left: 50px;
}
}

@media (max-width: 480px) {
.furniture-main-img {
  margin-top: 35px !important;
}
.features__box{
  gap:24px;
}
.subscribe_main-text {
  font-size: 23px !important;
}
.subscribe_p-text {
  font-size: 14px !important;
}
.email_img {
  margin-top: 62px !important;
  margin-left: 160px !important;
}
.name__input {
  position: absolute;
  margin-top: 60px !important;
  margin-left: 180px !important;
}
.email_button {
  margin-left: 160px !important;
  margin-top: 90px !important;
}
.loupe {
  margin-right: -180px;
}
.trusted-text {
  text-align: center;
}
.main-img {
  max-width: 100%;
}

}

.main-text {
  background-color:#154444 ;
  color:white;
  padding-top: 101px;
  padding-left: 100px;
}

.main-img {
  max-width:440px;
  max-height:560px;
}

.main-title {
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
font-size: 56px;
color: white;
}

.main-p {
font-family: 'DMSans-Regular', sans-serif;
padding: 20px;
font-weight: 400;
font-size: 20px;
color: white;
margin-left: -20px;
}

.main-button {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  height:56px;
  width:172px;
  border:none;
  color:#154444;
  background-color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.trusted-text{
justify-self: anchor-center;
font-size: 32px;
color: #244D4D;
font-family: 'DMSans-Regular', sans-serif;
font-weight: 700;
margin-top: 140px;
}

.trusted-img{
  align-items: center;
}

.companies{
display: flex;
gap: 100px;
justify-self: center;
margin-top: 47px;
}

.about-text {
flex-wrap: wrap;
display: flex;
justify-self: right;
width: 436px;
margin-top: 186px;
}

.quality{
  margin-top: 40px;
}

.about-images {
position: absolute;
margin-left: 10px;
margin-top: 15px;
justify-self: center;
}

.secure {
  margin-top: 40px;
}

.shpping {
  margin-top: 40px;
}

.about-img {
  position: absolute;
}

.h1-text {
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
color: #244D4D;
font-size: 32px;
margin-left: 10px;
position: absolute;
}

.p-text {
font-family: 'Montserrat-Bold', sans-serif;
font-weight: 700;
color: #244D4D;
font-size: 20px;
margin-left: 85px;
}

.a-text {
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
color: #383738;
font-size: 18px;
margin-left: 85px;
}

.a1-text {
font-family: 'DMSans-Regular', sans-serif;
font-weight: 400;
color: #383738;
font-size: 20px;
margin-left: 10px;
margin-top: 40px;
}

.customers{
    margin-top: 140px;
    display: flex;
}

.customers__pt1{
    position: relative;
    margin-left: 50px;
}

.customers__bg{
    background: #244D4D;
    width: 491px;
    height: 491px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    overflow: hidden;
    top:1px
}

.customers_big_foto{
  margin-left: 105px;
}

.customers__pt2{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: space-evenly;
}

.customers__header{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #242424;
}

.customers__text{
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
}

.customers__review{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.customers__review-mini-2{
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    margin-left: 10px;
    margin-top: 6px;
}

.customers__review-text{
    font-family: 'DMSans-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}

.furniture-block{
  margin-top: 240px;
}

.furniture-box{
  display: grid;
  list-style-type:none;
}   

.furniture-item2{
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.furniture-text1{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;
  color: #242424;
  text-align: start;
}

.furniture-p{
  text-align: start;
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #383738;
  margin-top: 20px;
}

.furniture-main-box{
    margin-top: 80px;
    gap:30px;
}

.furniture-img2{
    overflow: hidden;
}

.furniture-item1{
    background-color: #FFFFFF;
    min-width: 0;
}

.furniture-indentation{
    margin:24px 30px;
}

.furniture-box1{
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

.furniture-box2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-width: 0;
}

.furniture-button{
    width: 78.85px;
    height: 32px;
    font-family: 'DMSans-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #FFFFFF;
    background-color:#244D4D;
    border:none;
    cursor: pointer;
}

.furniture-box-text{
  display: flex;
  justify-content: flex-start;
  margin-bottom:-20px;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.furniture-price{
  font-size: 24px;
  color: #154444;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  margin-top: 0px;
}

.furniture-main-img{
  display: flex;
  justify-content: flex-end;
}
.furniture-main-img img{
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev{
  position:static;
  width:41px;
  height:41px;
}

.features{
  margin-top: 140px;
}

.features__header{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #242424;
  text-align: center;
}

.features__list{
  display: flex;
  flex-direction: row;
  list-style-type:none;
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  color: #919090;
  justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.features__bottom{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features__pt1{
  position: relative;
}

.bg-1{
  position: absolute;
  width: 190.1px;
  height: 85.87px;
  top:-12px;
  left:0;
  right: 0;
  bottom: 0;
  background: #154444;
  z-index: 0;
}

.bg-2{
  position: absolute;
  width: 190.1px;
  height: 85.87px;
  top:314px;
  left:387px;
  right: 0;
  bottom: 0;
  background: #154444;
  z-index: 0;
}

.features__img{
  position: relative;
  z-index: 1;
  margin-left: 12px;
}   

.features__box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr ;
  gap:32px;
  max-width: 474px;
  max-height:336px;
  margin-top: 30px;
}

.features__box-item{
  width:200px;
  height:90px;
  border:#D9DCE5 1.5px solid;
  display: flex;
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #808080;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.features__box-item:nth-child(4){
  width:203px;
  height:93px;
  border: none;
  display: flex;
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color:white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #154444;
}

.features__item {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.features__item.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 57px;
  height: 1.5px;
  background-color: #154444;
  margin-top: 6px;
}

.features__item.active {
  color: #154444; /* зеленый цвет для активного элемента */
}

.subscribe {
  margin-top: 200px;
}

.subscribe_main-text {
  font-size: 32px;
  text-align: center;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  color: #222222;
}

.subscribe_p-text {
  text-align: center;
  font-size: 16px;
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  margin-top: 20px;
}

.name__input {
  margin-left: 420px;
  border: none;
  font-size: 16px;
}

.email_img {
  position: absolute;
  margin-top: 62px;
  margin-left: 395px;
}

.email_button {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #305F64;
  border: none;
  width: 125px;
  height: 52px;
  margin-top: 43px;
}

.subscribe {
  background-color: #F4F6F6;
}

.footer{
  margin-top: 140px;
  background-color: #305F64;
  color:#FFF;
}

.footer__box{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.footer__item-header{
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.footer__item-text{
  font-family: 'DMSans-Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 16px;
}

.footer__item-text1{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-top: 24px;
}

.footer__item-text2{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
}

.img__box{
  width:125px;
  height:20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.last__words{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-bottom: -10px;
}

hr{
  background-color: #407980;
  color:#407980
}

.footer__form{
  width:253px;
  height:48px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.footer__input{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #859395;
  border: none;
  margin-left: 22px;
}

.footer__img{
  margin-right: 12px;
}

